@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020408] text-slate-200; /* Void Black */
  }
}

@layer utilities {
  .bg-card-dark {
    @apply bg-[#0A0F1C] border border-white/5; /* Deep Navy/Black Card */
  }
  .bg-card-darker {
    @apply bg-[#050A14] border border-white/5;
  }
  .custom-scrollbar::-webkit-scrollbar { width: 4px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: #020408; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 2px; }
}
