@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian text-white antialiased;
  }
}

/* Custom Scrollbar for that "cyber" feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
